.footer {
  display: grid;
  grid-template-columns: 1fr auto auto;
  background: var(--primary);
  padding: 25px 35px;
  color: var(--white);
  gap: 10px 40px;
}

.footer a:hover {
  color: #c8f8e4;
}

@media (max-width: 765px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
